RUN_MODE=continuous
NEWS_API_KEY=cc793418193f491d9184ad7b00785f37
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
EMAIL_PASSWORD=pkal uhtm nxbu kncx